/* src/styles.css */

/* Color Scheme */
:root {
  --primary: #374a53;
  --secondary: #dab68c;
  --secondary-darker: #a47a49;
  --on-secondary: #262626;
  --background: #f8ffe5;
  --on-background: #262626;
  --error: #dd2121;
  --on-error: #ffffff;
  --error-darker: #c2543b;
  --success: #5dd784;
  --warning: #ffc238;
}

/* Ensure html and body take full height */
html,
body {
  margin: 0;
  padding: 0;
}

/* Apply the gradient background to body */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  color: var(--foreground);
  background-color: var(--background);
  min-height: 100vh;
}

/* Main App Container */
#app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 0;
  box-sizing: border-box;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  position: relative;
}

#main-content {
  flex: 1;
}

.content {
  justify-content: center;
  align-items: center;
}

/* Header Styles */
.header {
  margin-top: 2vh;
  padding-bottom: 24px;
  margin-bottom: 2vh;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.logo {
  width: 30vh;
  height: auto;
  margin-top: -40px;
}

.app-title {
  font-size: 2em;
  margin: 0;
  line-height: 1;
}

.subtitle {
  font-size: 1.2em;
  margin-top: 10px;
}

/* Product Styles */
.product-image {
  width: 14vh;
  height: auto;
}

.product-title {
  margin-top: 1em;
  font-family: "Kurale", serif;
  font-size: 1.5em;
}

.product-price {
  font-size: 1.1em;
  margin: 20px auto;
}

/* Quantity Control */
.quantity-control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  margin-top: 2.2em;
}

.quantity-control button {
  width: 1.8em;
  height: 1.8em;
  font-size: 1.5em;
  background-color: var(--secondary);
  color: var(--on-secondary);
}

.quantity-control button:hover {
  background-color: var(--secondary-darker);
}

.quantity-control #quantity {
  margin: 0 20px;
  font-size: 1.5em;
  color: var(--on-secondary);
}

.order-id,
.total-price,
.success-title,
.success-subtitle {
  font-size: 1.5em;
  color: var(--on-secondary);
  margin-top: 20px;
  font-family: "Kurale", serif;
}

.total-price {
  margin-bottom: 30px;
}

/* Buy Now Button */
#buyButton {
  background-color: var(--secondary);
  color: var(--on-secondary);
  font-family: Kurale, serif;
  margin-top: 1em;
  padding: 0.4em 1.2em;
  font-size: 1.5em;
}

#buyButton:hover {
  background-color: var(--secondary-darker);
}

/* QR Code */
#qrCode {
  width: 180px;
  height: 180px;
  margin: 0 auto;
}

/* Cancel Button */
#cancelButton {
  background-color: var(--error);
  color: var(--on-error);
  padding: 10px 20px;
  font-size: 1em;
  margin: 20px auto 0 auto;
  display: inline-block;
  font-family: "Kurale", serif;
}

#cancelButton:hover {
  background-color: var(--error-darker);
}

/* Success Message Container */
#successContainer {
  text-align: center;
  margin-top: 20px;
}

.checkmark-image {
  width: 180px;
  height: auto;
  margin-bottom: 20px;
}

/* Done Button */
#doneButton {
  background-color: var(--secondary);
  color: var(--on-secondary);
  padding: 10px 20px;
  font-size: 1em;
}

#doneButton:hover {
  background-color: var(--secondary-darker);
}

/* Footer Styles */

.meridian-x-beans-logo {
  width: 150px;
  left: 50%;
  opacity: 50%;
  transform: translate(-50%, 50%);
  position: absolute;
  bottom: -4vw;
}

/* Common Button Styles */
button {
  font-family: inherit;
  cursor: pointer;
  border-radius: 2px;
  border: none;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.98);
}

.custom-divider {
  border: none;
  height: 1px;
  width: 300px;
  background: linear-gradient(to right, transparent, #666, transparent);
  margin: 0 auto;
}

.product-description {
  font-family: "Kurale", serif;
  width: 60%;
  margin: -10px auto;
  font-size: 1.15em;
}

/* Media Queries for Responsiveness */
@media (max-width: 389px) {
  .logo {
    width: 47vw;
    margin-bottom: 0.7em;
  }

  .custom-divider {
    width: 65vw;
  }

  .product-image {
    width: 10vh;
    height: auto;
  }

  .product-title {
    font-size: 1em;
  }

  .product-description {
    width: 90%;
    font-size: 0.8em;
  }

  .quantity-control button {
    width: 7vw;
    height: 7vw;
    font-size: 1em;
    padding-inline: 0px;
    padding-block: 0px;
  }

  .quantity-control #quantity {
    font-size: 0.85em;
  }

  #buyButton {
    margin-top: 0.75em;
    font-size: 0.8em;
  }

  .meridian-x-beans-logo {
    width: 35vw;
  }

  #qrCode {
    width: 22vh;
    height: 22vh;
  }

  .app-title {
    font-size: 1.5em;
  }

  .subtitle {
    font-size: 1em;
  }

  .success-title {
    font-size: 1.5em;
  }

  .success-subtitle {
    font-size: 1em;
  }
}

@media (min-width: 390px) and (max-width: 767px) {
  .logo {
    width: 50vw;
    margin-bottom: 0.7em;
  }

  .custom-divider {
    width: 50vw;
  }

  .product-image {
    width: 14vh;
    height: auto;
  }

  .product-title {
    font-size: 1.25em;
  }

  .product-description {
    width: 80%;
    font-size: 1em;
  }

  .quantity-control button {
    width: 8vw;
    height: 8vw;
    font-size: 1em;
    padding-inline: 0px;
    padding-block: 0px;
  }

  #buyButton {
    margin-top: 1em;
    font-size: 1.25em;
  }

  #qrCode {
    width: 26vh;
    height: 26vh;
  }

  .app-title {
    font-size: 1.5em;
  }

  .subtitle {
    font-size: 1em;
  }

  .success-title {
    font-size: 1.5em;
  }

  .success-subtitle {
    font-size: 1em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .product {
    padding: 15px;
  }

  .product-description {
    width: 60%;
    font-size: 1.15em;
  }

  .app-title,
  .success-title {
    font-size: 1.5em;
  }

  .subtitle,
  .success-subtitle {
    font-size: 1em;
  }
}

@media (max-height: 400px) and (orientation: landscape) {
  /* Adjustments for horizontal mobile view */
  .logo {
    width: 45vh;
    margin-bottom: 6vh;
  }

  .product-description {
    width: 60%;
    font-size: 0.9em;
  }

  .quantity-control button {
    width: 8vh;
    height: 8vh;
    font-size: 0.9em;
  }

  .product-image {
    width: 12vw;
    height: auto;
  }

  #buyButton {
    font-size: 1em;
    padding: 0.5em 1.5em;
  }

  .app-title {
    font-size: 1.2em;
  }

  .subtitle {
    font-size: 0.9em;
  }

  .meridian-x-beans-logo {
    width: 30vh;
    margin-bottom: 20px;
  }
}
